<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments/style :: head-styles}"></th:block>
    <title>Document</title>
</head>
<body>
    <main th:object="${videogame}">

        <div th:object="${videogame}">
            <h1>[[*{name}]]</h1>
            <p>[[*{description}]]</p>
            <p>[[*{publicationDate}]]</p>
            <img th:src="@{/images/{img}(img=*{image})}" alt="">
        </div>
         <ul th:each="platform : *{platforms}">
            <li th:text="${platform.name}"></li>
        </ul>
    </main>
    
</body>
</html>