<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <th:block th:fragment="navbar">
            <nav class="navbar navbar-expand-lg bg-light w-100">
                <div>
                    <a class="nav-link px-2" th:href="@{/videogames}">Videogames</a>
                </div>
                <div class="container">
                    <ul class="navbar-nav mx-auto">
                    <li class="nav-item mx-4" th:each="platform : ${platforms}">
                        <a class="nav-link" th:href="@{/platforms/{id}(id=${platform.id})}" th:text="${platform.name}"></a>
                    </li>
                    </ul>
                </div>
            </nav>
        </th:block>
    </header>
    
</body>
</html>