.fixed-img {   
  object-fit: cover; 
  height: 250px;
  object-position: center;

}

.fixed-img-show{
  max-height: 450px;
  object-fit: fill;
}

.plat-link:hover {
  transition: transform 0.2s;
  transform: scale(1.1); 
}

/* .card-link:hover {
  transition: transform 0.2s;
  transform: scale(1.025);
} */

